*{
    margin: 0;
    padding: 0;
}
header{
   background-image: url(joyful-girl.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

}
.nav-link{
    color: black;
    transition: .4s;
}
.nav-link:hover{
    color: #DD9933;
}
h1{
    font-size: 50px;
    font-weight: bold;

}
h2{
    font-size: 80px;
    font-weight: bolder;
}
.p{
    width: 600px;
    margin-bottom: 150px;
}
h4{
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #DD9933;
}
